.m-table {
    /*border-collapse: collapse;*/
    border-spacing: 0;
    margin-bottom: 56px;
}

.z-3 {
    z-index: 3;
}

.m-table thead {
    position: sticky;
    top: 0;
    background-color: #f4f5f8;
    border-color: #000;
    z-index: 1;
}

.m-table thead th {
    position: sticky;
    padding: 0 10px;
    text-transform: uppercase;
    text-align: left;
    border: 1px solid #c7c7c7;
    min-height: 34px;
    height: 34px;
    background-color: #eceef1;
    min-width: 10rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    z-index: 2;
}

.m-table thead th:first-child {
    /*min-width: 3rem !important;*/
    max-width: 3rem !important;
    border-left: none !important;
    padding: 0 1rem !important;
    z-index: 3;
}

.m-table thead th:last-child {
    border-right: none !important;
    max-width: 6rem !important;
    min-width: 6rem !important;
    z-index: 3;
}

.m-table tbody {
    background-color: #fff;
}

.m-table tbody tr:hover td,
.m-table tbody tr:hover td .func button {
    background-color: #f4f5f8 !important;
}

.m-table tbody tr:hover td {
    color: #2ca01c;
}

.m-table tbody td {
    height: 50px;
    padding: 0 10px;
    /*border-bottom: 1px solid #c7c7c7;*/
    /*border-right: 1px dotted #c7c7c7;*/
    border: 1px dotted #c7c7c7;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 50px;
}

.m-table tbody td p.content {
    padding: 0;
    margin: 0;
    overflow: unset;
}

.m-table tbody.empty td p.content {
    height: 26px;
    line-height: 26px;
    background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee) no-repeat -315px 0, 0 0, 0px 190px, 50px 195px;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    to {
        background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
}

.m-table tbody td:first-child {
    padding-left: 1rem;
    border-left: none !important;
}

.m-table tbody td .func {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.m-table tbody td .func button {
    border: none;
    outline: none;
    cursor: pointer;
    color: #0075c0;
    background-color: #fff;
    font-weight: 600;
    line-height: 13px;
    margin-right: 10px;
}

.m-table tbody td .func .m-icon {
    width: 26px;
    height: 16px;
}

.m-table .edit-icon {
    padding: 0px 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.m-table .edit-icon:active {
    border: 1px solid #0075c0;
}
